body {
    background: 
    url(../images/kupono-kuwamura-508400-unsplash.jpg);
        /* Full height */
        height: 100%; 
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Proza Libre', sans-serif;
}

.navbar {
    background-color: #393f4d;
    color: #feda6a;
    font-size: 15px;
    border-radius: 15px;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    text-align: left;
}

.jumbotron {
    background: #d4d4dc;
    border-radius: 15px;
}

h1 {
    color: #feda6a; 
}

a {
    color: #feda6a;
}

h4 {
    color: #1d1e22;
}

p {
    color: #1d1e22;
}

.card-deck {
    background: #d4d4dc;
    margin: 100px;
    padding: 10px;
    border-radius: 15px;
}

.weekenderImg {
    height: 200px;
    width: 400px;
}

.card-img-top {
    height: 200px; 
    width: 200px;
}

#whiteHouse {
    width: 200px;
    /* margin-left: 400px;  */
}

footer {
    background-color: #393f4d;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-copyright {
    background-color: #1d1e22;
    color: #d4d4dc;
    width: 100%;
}