body {
    background-image:
    url(../images/kupono-kuwamura-508400-unsplash.jpg);
        /* Full height */
        height: 100%; 
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    font-family: 'Proza Libre', sans-serif;
}

.navbar {
    background-color: #393f4d;
    color: #feda6a;
    font-size: 15px;
    border-radius: 15px;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    text-align: left;
}

h1 {
    border-bottom: #4aaaa5, 5px;
    padding-left: 10px;
}

a {
    color: #feda6a;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;

}

form {
    background-color: #ffffff;
    margin-left: 71px;
    margin-right: 71px;
    padding-left: 15px;
    padding-right: 15px;
}

.card-body {
    background-color: #ffffff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #1d1e22
}